In [8]:
#Simple operations
a = 1
b = 2
c = a + b
print(" variable a has value",a,", has type",type(a),", and has id",id(a),".\n",
      "variable b has value",b,", has type",type(b),", and has id",id(b),".\n",
      "variable c has value",c,", has type",type(c),", and has id",id(c),".")

 variable a has value 1 , has type <class 'int'> , and has id 2309081557296 .
 variable b has value 2 , has type <class 'int'> , and has id 2309081557328 .
 variable c has value 3 , has type <class 'int'> , and has id 2309081557360 .

In [10]:
a = 1
b = 2
c = a - b
print(" variable a has value",a,", has type",type(a),", and has id",id(a),".\n",
      "variable b has value",b,", has type",type(b),", and has id",id(b),".\n",
      "variable c has value",c,", has type",type(c),", and has id",id(c),".")

 variable a has value 1 , has type <class 'int'> , and has id 2309081557296 .
 variable b has value 2 , has type <class 'int'> , and has id 2309081557328 .
 variable c has value -1 , has type <class 'int'> , and has id 2309081557232 .

In [11]:
a = 1
b = 2
c = a / b
print(" variable a has value",a,", has type",type(a),", and has id",id(a),".\n",
      "variable b has value",b,", has type",type(b),", and has id",id(b),".\n",
      "variable c has value",c,", has type",type(c),", and has id",id(c),".")

 variable a has value 1 , has type <class 'int'> , and has id 2309081557296 .
 variable b has value 2 , has type <class 'int'> , and has id 2309081557328 .
 variable c has value 0.5 , has type <class 'float'> , and has id 2309164856912 .

In [12]:
# using "//" instead of / forces a integer division or quotient operation
a = 1
b = 2
c = a // b
print(" variable a has value",a,", has type",type(a),", and has id",id(a),".\n",
      "variable b has value",b,", has type",type(b),", and has id",id(b),".\n",
      "variable c has value",c,", has type",type(c),", and has id",id(c),".")

 variable a has value 1 , has type <class 'int'> , and has id 2309081557296 .
 variable b has value 2 , has type <class 'int'> , and has id 2309081557328 .
 variable c has value 0 , has type <class 'int'> , and has id 2309081557264 .

In [32]:
#Some string manipulation 
a = "Ford"
b = "Maverick"
c = a[:2]+" "+a[2:]+" "+b[0]+" "+b[1]+" "+b[2]+" "+b[3:]
print(" variable a has value",a,", has type",type(a),", and has id",id(a),".\n",
      "variable b has value",b,", has type",type(b),", and has id",id(b),".\n",
      "variable c has value",c,", has type",type(c),", and has id",id(c),".")

 variable a has value Ford , has type <class 'str'> , and has id 2309164406000 .
 variable b has value Maverick , has type <class 'str'> , and has id 2309164407920 .
 variable c has value Fo rd M a v erick , has type <class 'str'> , and has id 2309165124304 .

In [33]:
#More string manipulation 
cars = ["Ford","Hyundai","Tesla"]
carone, cartwo,car3 = cars
print(" variable carone has value",carone,", has type",type(carone),", and has id",id(carone),".\n",
      "variable cartwo has value",cartwo,", has type",type(cartwo),", and has id",id(cartwo),".\n",
      "variable car3 has value",car3,", has type",type(car3),", and has id",id(car3),".")

 variable carone has value Ford , has type <class 'str'> , and has id 2309164406000 .
 variable cartwo has value Hyundai , has type <class 'str'> , and has id 2309164904496 .
 variable car3 has value Tesla , has type <class 'str'> , and has id 2309164907312 .

In [34]:
randomnumber = 1234
print("1st car brand is " + carone +". ")

1st car brand is Ford.

In [35]:
#simple reminder that you can't concatenate a string and int without doing some typecasting i guess
print("1st car brand is " + carone +". "+randomnumber)

TypeError: can only concatenate str (not "int") to str

In [40]:
# Camel case variable naming convention haiya...
myFirstCarBrand = "GM Camel case"
mySecondCarBrand = "Hyundai Camel case"

# Pascal case system
MyFirstCarBrand = "GM Pascal case"
MySecondCarBrand = "Hyundai Pascal case"

# Snake case system
my_first_car_brand = "GM Snake case"
my_second_car_brand = "Hyundai Snake case"

print(" variable myFirstCarBrand has value",myFirstCarBrand,", has type",type(myFirstCarBrand),", and has id",id(myFirstCarBrand),".\n",
      "variable mySecondCarBrand has value",mySecondCarBrand,", has type",type(mySecondCarBrand),", and has id",id(mySecondCarBrand),".\n","\n",
      "variable mySecondCarBrand has value",MyFirstCarBrand,", has type",type(MyFirstCarBrand),", and has id",id(MyFirstCarBrand),".\n",
      "variable MyFirstCarBrand has value",MySecondCarBrand,", has type",type(MySecondCarBrand),", and has id",id(MySecondCarBrand),".\n","\n",
      "variable my_first_car_brand has value",my_first_car_brand,", has type",type(my_first_car_brand),", and has id",id(my_first_car_brand),".\n",
      "variable my_second_car_brand has value",my_second_car_brand,", has type",type(my_second_car_brand),", and has id",id(my_second_car_brand),".")

 variable myFirstCarBrand has value GM Camel case , has type <class 'str'> , and has id 2309165133040 .
 variable mySecondCarBrand has value Hyundai Camel case , has type <class 'str'> , and has id 2309165223808 .

 variable mySecondCarBrand has value GM Pascal case , has type <class 'str'> , and has id 2309165131696 .
 variable MyFirstCarBrand has value Hyundai Pascal case , has type <class 'str'> , and has id 2309165700880 .

 variable my_first_car_brand has value GM Snake case , has type <class 'str'> , and has id 2309165133104 .
 variable my_second_car_brand has value Hyundai Snake case , has type <class 'str'> , and has id 2309165702160 .

In [37]:
#just to prove case matters
print (myfirstcarbrand)

NameError: name 'myfirstcarbrand' is not defined